<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

<h2>Products</h2>

<button [routerLink]="['/shopping-cart']" routerLinkActive="active" *ngIf="!this.dataService.isAdmin()"><i class="material-icons">shopping_cart</i></button>
<button class="addButton" [routerLink]="['/add-product']" routerLinkActive="active" *ngIf="this.dataService.isAdmin()">Add</button>

<table mat-table>
  <thead>
    <tr>
      <td *ngFor="let column of productTableColumns">
        {{ column.columnName }}
      </td>
      <td width="3%">
      </td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>
        {{ product.categoryName }}
      </td>
      <td>
        {{ product.name }}
      </td>
      <td>
        {{ product.price }}
      </td>
      <td>
        <a [routerLink]="['/product-details', product.id]" routerLinkActive="active">
          >
        </a>
      </td>
    </tr>
  </tbody>
</table>

<router-outlet></router-outlet>
</body>
</html>
