<h2>Products</h2>

<table mat-table>
  <thead>
    <tr>
      <td *ngFor="let column of productTableColumns">
        {{ column.columnName }}
      </td>
      <td width="3%">
      </td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>
        {{ product.categoryName }}
      </td>
      <td>
        {{ product.name }}
      </td>
      <td>
        {{ product.price }}
      </td>
      <td>
        <a [routerLink]="['/product-details', product.id]" routerLinkActive="active">
          >
        </a>
      </td>
    </tr>
  </tbody>
</table>

<router-outlet></router-outlet>
